<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div style="text-align: center">
      <form action="/submit" method="POST">
        <label style="font-size: 1rem">Enter movie name</label>
        <input type="text" name="mName" placeholder="movie name" />
        <input type="submit" value="OK" />
      </form>
    </div>
  </body>
</html>
