body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f8f8f8;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

#itemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 280px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card .info {
  margin: 0;
}

.card .info span {
  font-weight: bold;
}

/* Responsive styles */
@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
}

/* Add any additional animations or styles as needed */
